<%= render "shared/logout_link" %>

<h1>写真一覧</h1>

<% if flash[:alert] %>
  <div style="color: red;">
    <%= flash[:alert] %>
  </div>
<% end %>

<% if flash[:notice] %>
  <div style="color: green;">
    <%= flash[:notice] %>
  </div>
<% end %>

<div>
  <%= link_to "写真を新規にアップロード", new_photo_path %>
  <%= link_to "OAuth認可", oauth_authorize_path %>
</div>

<style>
  .photos-list {
    list-style: none;
    padding: 0;
  }

  .photo-item {
    display: inline-block;
    margin: 10px;
    vertical-align: top;
  }

  .photo-image {
    width: 180px;
    height: 180px;
    object-fit: contain;
    display: block;
    border: 1px solid;
  }
</style>

<% if @photos.any? %>
  <ul class="photos-list">
    <% @photos.each do |photo| %>
      <li class="photo-item">
        <p><%= photo.title %></p>
        <%= image_tag photo.image, alt: photo.title, class: "photo-image" %>
        <% if session[:oauth_access_token] %>
          <%= button_to "ツイートする", photo_tweets_path(photo), method: :post, class: "tweet-button" %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>

